<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Febre Amarela
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <div id="preInfo">
        <ion-title>Enviar</ion-title>
        <br>
        <ion-item id="itemEnvio">
            <ion-thumbnail slot="start">
              <img src="../../assets/img/placeholder.png">
            </ion-thumbnail>
            <ion-label id="lblEnvio">
                20190412_153855.jpg<br>
                Retirada em: 12/04/2019<br>
                Horário: 20:53<br>
                <a href="#">Visualizar</a>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Localização</ion-label>
              <ion-input value="Rua Floriano Peixoto 15, Santa Efigênia"></ion-input>
              <ion-button shape="round" size="small" tooltip="Alterar Localização">
                  <ion-icon id="btnMapIcon" slot="icon-only" name="map"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Informações Adicionais</ion-label>
                <ion-textarea rows="6" cols="6" placeholder="Insira quaisquer informações adicionais aqui..."></ion-textarea>
              </ion-item>
    </div>
    <div id="Envio">
        <ion-button shape="round" id="btnEnvio" routerLink="/enviado" routerDirection="root">
            <ion-icon id="btnEnvioIcon" slot="icon-only" name="send"></ion-icon>
            <ion-label>Enviar</ion-label>
        </ion-button>
     </div>
</ion-content>
