<ion-header>
  <ion-toolbar color="success">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label floating>Nome</ion-label>
  <ion-input [(ngModel)]="perfil.nome"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Sobrenome</ion-label>
  <ion-input [(ngModel)]="perfil.sobrenome"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Celular</ion-label>
  <ion-input id="celular" [(ngModel)]="perfil.celular" type="tel"></ion-input>
  <ion-button (click)="verificarSMS()">Enviar SMS</ion-button>
</ion-item>
<br>
<ion-button (click)="criarPerfil()">Criar Perfil</ion-button>
</ion-content>
