<ion-header>
  <ion-toolbar color="success">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label floating>Nome</ion-label>
  <ion-input [(ngModel)]="perfil.nome"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Sobrenome</ion-label>
  <ion-input [(ngModel)]="perfil.sobrenome"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Celular</ion-label>
  <ion-input [(ngModel)]="perfil.celular" type="tel" placeholder="Celular (Ex: +5534999999999)"></ion-input>
  <ion-button (click)="enviarSMS()">Enviar SMS</ion-button>
</ion-item>
<br>
<ion-item *ngIf="codeSended">
  <ion-label floating>Celular</ion-label>
  <ion-input [(ngModel)]="perfil.sms" type="number" placeholder="Insira o código de verificação"></ion-input>
  <ion-button (click)="verificarSMS()">Verificar Código</ion-button>
</ion-item>
<br>
<div *ngIf="sucesso">{{ mensagem }}</div>
<br>
<ion-button (click)="criarPerfil()">Criar Perfil</ion-button>
</ion-content>
