<ion-header>
  <ion-toolbar color="success">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label floating>Nome</ion-label>
  <ion-input [(ngModel)]="perfil.nome"></ion-input>
  <ion-input [(ngModel)]="perfil.isAdmin" value="true" style="display:none;"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Sobrenome</ion-label>
  <ion-input [(ngModel)]="perfil.sobrenome"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Celular</ion-label>
  <ion-input [(ngModel)]="perfil.celular" type="tel" placeholder="Ex: +5534999999999"></ion-input>
  <ion-button (click)="enviarSMS()">Enviar SMS</ion-button>
</ion-item>
<br>
<ion-item [disabled]="!codigoEnviado">
  <ion-label floating>Código de verificação</ion-label>
  <ion-input [(ngModel)]="sms" type="number" placeholder="Insira o código de verificação"></ion-input>
  <ion-button (click)="verificarSMS()">Verificar Código</ion-button>
</ion-item>
<br>
<br>
<ion-button [disabled]="!sucesso" (click)="criarPerfil()">Criar Perfil</ion-button>
</ion-content>
