<ion-header>
    <ion-toolbar color="success">
      <ion-title>Visualizar Local</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <h3>Dados</h3>
  <label>Logradouro</label>
  <p>{{logradouro}}</p>
  <label>Bairro</label>
  <p>{{bairro}}</p>
  <label>Cidade</label>
  <p>{{cidade}}</p>
  <label>Município</label>
  <p>{{municipio}}</p>
  <label>Estado</label>
  <p>{{estado}}</p>
  <label>País</label>
  <p>{{pais}}</p>
  <ion-button (click)="dismiss()">Fechar</ion-button>
  <ion-button>
      Abrir Google Maps
      <ion-icon slot="start" name="pin"></ion-icon>
    </ion-button>
  </ion-content>