<ion-header>
    <ion-toolbar color="success">
      <ion-title>Visualizar Mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <h3>Mapa</h3>
  <div #map id="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d795.0649965165367!2d-46.514200722641945!3d-18.574588615506666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ae8b2b9c348733%3A0x300a1705e7969352!2sUnnamed+Road+-+Cai%C3%A7aras%2C+Patos+de+Minas+-+MG%2C+38702-104!5e0!3m2!1spt-BR!2sbr!4v1557348167346!5m2!1spt-BR!2sbr" width="460" height="320" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  <ion-button (click)="dismiss()">Fechar</ion-button>
  <ion-button>
      Abrir Google Maps
      <ion-icon slot="start" name="pin"></ion-icon>
    </ion-button>
  </ion-content>