<ion-header>
  <ion-toolbar color="success">
    <ion-title>Alterar Status Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Alterar Status</ion-label>
    <ion-select [(ngModel)]="ocorrencia.status" placeholder="Escolha o status">
      <ion-select-option value="Visitado" selected="selected">Visitado</ion-select-option>
      <ion-select-option value="Não visitado">À visitar</ion-select-option>
      <ion-select-option value="Visitando">Visitando</ion-select-option>
      <ion-select-option value="Não Apto">Não Apto à visita</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="alteraStatus()">Alterar</ion-button>
  <ion-button (click)="dismiss()">Fechar</ion-button>
</ion-content>
