<ion-header>
  <ion-toolbar color="success">
    <ion-title>Alterar Status Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Alterar Status</ion-label>
    <ion-select placeholder="Escolha o status">
      <ion-select-option value="visitado" selected="selected">Visitado</ion-select-option>
      <ion-select-option value="avisitar">À visitar</ion-select-option>
      <ion-select-option value="visitando">Visitando</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="alerta()">Alterar</ion-button>
  <ion-button (click)="dismiss()">Fechar</ion-button>
</ion-content>
