<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Febre Amarela
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <div id="HomeText">
      <ion-title>Bem-vindo(a) ao App Febre Amarela,<div>{{ nome }}</div></ion-title>
      <img id="imgLogo" src="../../assets/img/homelogo.png">
     <p>Pressione o botão abaixo para abrir a página de ocorrências.</p>
    </div>
     <div id="HomeCamera">
        <ion-button shape="round" size="large" id="btnCamera" routerLink="/admin" routerDirection="root">
            <ion-icon id="btnCamIcon" slot="icon-only" name="glasses"></ion-icon>
        </ion-button>
        <br>
        <ion-button size="medium" id="btnSaibaMais" routerLink="/saiba-mais" routerDirection="root">
          <ion-icon id="btnSaibaMaisIcon" slot="icon-only" name="warning">Saiba Mais</ion-icon>
          <ion-label>Saiba Mais</ion-label>
      </ion-button>
     </div>
</ion-content>
