.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#HomeText img{
  display: block;
  margin: 0 auto;
}

#HomeText ion-title{
  text-align:center;
}

#HomeText{
  display: block;
  margin: 0 auto;
  padding-top: 5vh;
}

#btnCamera{
  width: 10vh;
  height: 10vh;
  --border-radius: 50%;
  display:block;
  margin: 0 auto;
}

#HomeCamera{
  display:block;
  margin: 0 auto;
  padding-top: 2vh;
}

#HomeText p{
  text-align: center;
}

#imgLogo{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#btnSaibaMais{
  width: 20vh;
  display:block;
  margin: 0 auto;
}
