<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Macaco Irmão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <div id="HomeText">
      <ion-title>Bem-vindo(a) ao Macaco Irmão</ion-title>
      <img id="imgLogo" src="../../assets/img/homelogo.png">
     <p>Pressione o botão da câmera para enviar uma foto.</p>
    </div>
     <div id="HomeCamera">
        <ion-button shape="round" size="large" id="btnCamera" routerLink="/preEnvio" routerDirection="root">
            <ion-icon id="btnCamIcon" slot="icon-only" name="camera"></ion-icon>
        </ion-button>
     </div>
</ion-content>
