#EnviadoText{
    display: block;
    margin: 0 auto;
    padding-top: 5vh;
  }

  #imgLogo{
    padding-bottom: 2vh;
    width: 200px;
    margin: 0 auto;
    display: block;
  }

  p{
      text-align:center;
  }

  #btnHome{
    display:block;
    margin: 0 auto;
  }

  #EnviadoButton{
    display:block;
    width: 20vh;
    height: 5vh;
    margin: 0 auto;
    padding-top: 2vh;
  }