.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#EnviosPreview img{
  display: block;
  margin: 0 auto;
}

#EnviosPreview ion-title{
  text-align:center;
}

#EnviosPreview{
  display: block;
  margin: 0 auto;
  padding-top: 5vh;
}

#EnviosPreview p{
  text-align: center;
}

#imgLogo{
  width: 64px;
  height: 64px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}