<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Macaco Irmão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <div class="row" id="EnviosPreview">
        <ion-title>Envios</ion-title>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
        <div class="column">
            <img class="imgLogo" src="../../assets/img/placeholder.png">
        </div>
    </div>
</ion-content>
