<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>App Febre Amarela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Painel Administrativo</h3>
    <div style="overflow-x:auto;">
        <table>
          <tr>
            <th>Usuário</th>
            <th>Data Envio</th>
            <th>Foto</th>
            <th>Local</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let data of Dados">
            <td><a href="#">{{data.nomeUser}}</a></td>
            <td>20/04/19 - 18:55</td>
            <td><ion-button (click)="showModalFoto()">Ver</ion-button></td>
            <td><ion-button (click)="showModalMapa()">Mapa</ion-button></td>
            <td><ion-button (click)="showModalStatus()">Alterar</ion-button></td>
          </tr>
        </table>
      </div>
</ion-content>
