<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Macaco Irmão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="overflow-x:auto;">
        <table>
          <tr>
            <th>Usuário</th>
            <th>Data Envio</th>
            <th>Foto</th>
            <th>Localização</th>
            <th>Status</th>
          </tr>
          <tr>
            <td><a href="#">gianmnf</a></td>
            <td>20/04/19 - 18:55</td>
            <td>f</td>
            <td>l</td>
            <td>s</td>
          </tr>
          <tr>
            <td><a href="#">josecarlos</a></td>
            <td>21/04/19 - 20:15</td>
            <td>f</td>
            <td>l</td>
            <td>s</td>
          </tr>
          <tr>
            <td><a href="#">langholz</a></td>
            <td>22/04/19 - 13:30</td>
            <td>f</td>
            <td>l</td>
            <td>s</td>
          </tr>
        </table>
      </div>
</ion-content>
