<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>App Febre Amarela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Painel Administrativo</h3>
    <div style="overflow-x:auto;">
        <table>
          <tr>
            <th>Usuário</th>
            <th>Data</th>
            <th>Foto</th>
            <th>Local</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let ocorrencia of ocorrencias">
            <td>{{ocorrencia.nomeSobrenome}}<br>({{ocorrencia.celular}})</td>
            <td>{{ocorrencia.dataAtual}}</td>
            <td><ion-button (click)="showModalFoto(ocorrencia.img)">Ver</ion-button></td>
            <td><ion-button (click)="showModalMapa(ocorrencia.id)">Ver</ion-button></td>
            <td><ion-button (click)="showModalStatus(ocorrencia.id)">Alterar</ion-button></td>
          </tr>
        </table>
      </div>
</ion-content>
