<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Febre Amarela
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <div id="HomeText">
      <ion-title>Sobre o App</ion-title>
      <img id="imgLogo" src="../../assets/img/homelogo.png">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut velit eu dui vehicula blandit eu nec nibh. Duis id cursus urna. Mauris fermentum tellus sit amet nulla consequat, id posuere velit lobortis. Cras ac dapibus velit. Nunc diam velit, gravida nec enim id, vestibulum ornare ligula. In faucibus vel enim commodo sodales. Vivamus mi dolor, malesuada ut neque non, facilisis imperdiet ante. Etiam vitae dui interdum, bibendum nisi sit amet, vestibulum tortor. Nulla facilisi. Quisque eu posuere ipsum. Aliquam lacinia velit imperdiet ultricies laoreet. Nullam bibendum, ligula eget bibendum iaculis, lacus nisl volutpat felis, id vestibulum augue libero sed sem. Sed rutrum maximus pharetra.</p>
    </div>
</ion-content>
