<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Febre Amarela
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <div id="HomeText">
      <ion-title>Sobre o App</ion-title>
      <img id="imgLogo" src="../../assets/img/homelogo.png">
     <p>Aplicativo criado com o intuito de auxiliar a Secretaria de Saúde juntamente com o centro de Zoonoses
       da cidade de Patos de Minas no combate dos focos de febre amarela na região.
     </p>
     <p>Projeto criado pelos alunos do 5º período de Sistemas de Informação do Centro Universitário de Patos de Minas: Gian Michel, José Carlos e Vinícius Langholz</p>
     <img id="imgLogo" src="../../assets/img/logoUnipam.png">
    </div>
</ion-content>
