<ion-content  color="success">
  <form>
    <ion-grid>
      <ion-row color="success" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crie sua conta</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="nome" type="text" placeholder="Nome" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="seu@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="senha" type="password" placeholder="Senha" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="celular" id="celular" type="tel" placeholder="Digite seu celular aqui" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" (click)="enviaSMS()" expand="block">Registrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<script>
var app = {
    sendSms: function() {
        var number = document.getElementById('celular').value.toString(); /* iOS: ensure number is actually a string */
        var message = "Testando integração SMS";
        console.log("number=" + number + ", message= " + message);

        //CONFIGURATION
        var options = {
            replaceLineBreaks: false, // true to replace \n by a new line, false by default
            android: {
                intent: '' // send SMS without opening any other app
            }
        };

        var success = function () { alert('Mensagem enviada!'); };
        var error = function (e) { alert('Falha:' + e); };
        sms.send(numero, message, options, success, error);
    }
};
</script>