<ion-header>
  <ion-toolbar color="success">
    <ion-title>Visualizar Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h3>Imagem do Animal</h3>
<img src="https://img.7segundos.com.br/akL-CpXXhxmrzagS0cL_UvtopeM=/460x320/smart/s3.7segundos.com.br/uploads/imagens/69646-macaco_jpg.jpeg" alt="">
<h3>Informações Adicionais:</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem esse amet dolores quae dolorum laborum alias soluta, dignissimos labore neque repellendus est exercitationem modi corporis beatae aut, excepturi at aliquam?</p>
<ion-button (click)="dismiss()">Fechar</ion-button>
</ion-content>
